<app-navbar></app-navbar>

<section class="bg-app-secondary mt-5">
  <div class="container py-5">
    <div class="row g-4">
      <!-- Imagen del producto -->
      <div class="col-md-6">
        <div class="position-relative border rounded bg-white p-3 text-center">
          <img
            [src]="productDetails?.images?.[0]"
            class="img-fluid"
            alt="Producto"
          />
        </div>
      </div>

      <!-- Detalles del producto -->
      <div class="col-md-6">
        <h5 class="fw-bold text-dark-gray">{{ productDetails?.title }}</h5>
        <div class="d-flex align-items-baseline mb-5 fw-bold text-dark-gray">
          <span class="me-1 text-uppercase">USD</span>
          <span class="fs-2">{{ productDetails?.price }}</span>
        </div>
        <p class="text-muted mb-1">Disponibilidad: 5 disponibles</p>
        <p class="text-muted mb-5">
          Categoría: {{ productDetails?.category?.name }}
        </p>

        <button class="btn bg-app-primary mt-5 mb-4 w-400px rounded-pill">
          <span class="fw-semibold text-extra-light-gray">
            AGREGAR AL CARRITO</span
          >
        </button>

        <!-- Contador -->
        <div
          class="d-flex align-items-center justify-content-between bg-white border border-light-gray rounded-pill px-2 mb-3 bg-app-secondary"
          style="width: 80px; height: 34px"
        >
          <button
            class="btn btn-sm p-0 border-0 shadow-none text-light-gray"
            type="button"
          >
            −
          </button>
          <input
            type="text"
            class="form-control form-control-sm text-center border-0 shadow-none p-0 bg-app-secondary fw-bold text-light-gray"
            style="width: 30px"
            value="1"
          />
          <button
            class="btn btn-sm p-0 border-0 shadow-none text-light-gray"
            type="button"
          >
            +
          </button>
        </div>

        <!-- Acordeón de descripción -->
        <div class="accordion" id="accordionDescripcion">
          <div class="accordion-item bg-app-secondary border border-light-gray">
            <h2 class="accordion-header" id="headingOne">
              <button
                class="accordion-button collapsed bg-app-secondary"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseDescripcion"
              >
                <span class="fw-semibold text-dark-gray">Descripción</span>
              </button>
            </h2>
            <div
              id="collapseDescripcion"
              class="accordion-collapse collapse"
              data-bs-parent="#accordionDescripcion"
            >
              <div class="accordion-body">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut enim
                ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                ut aliquip ex ea commodo consequat.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Reseñas -->
    <div class="mt-5">
      <h5 class="fw-semibold">Últimas reseña</h5>
      <div class="row row-cols-1 row-cols-md-3 g-3 mt-2">
        <!-- Reseña -->
        <div class="col">
          <div class="card h-100">
            <div class="card-body bg-app-secondary rounded">
              <blockquote class="text-dark-gray fw-semibold blockquote mb-2">
                “Comentario”
              </blockquote>
              <div class="d-flex align-items-center text-light-gray">
                <div>
                  <div class="fw-bold small">Nombre del reseñador</div>
                  <div class="text-muted small">Fecha</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Reseña -->
        <div class="col">
          <div class="card h-100">
            <div class="card-body bg-app-secondary rounded">
              <blockquote class="text-dark-gray fw-semibold blockquote mb-2">
                “Comentario”
              </blockquote>
              <div class="d-flex align-items-center text-light-gray">
                <div>
                  <div class="fw-bold small">Nombre del reseñador</div>
                  <div class="text-muted small">Fecha</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Reseña -->
        <div class="col">
          <div class="card h-100">
            <div class="card-body bg-app-secondary rounded">
              <blockquote class="text-dark-gray fw-semibold blockquote mb-2">
                “Comentario”
              </blockquote>
              <div class="d-flex align-items-center text-light-gray">
                <div>
                  <div class="fw-bold small">Nombre del reseñador</div>
                  <div class="text-muted small">Fecha</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>
