<div class="container" style="width: 1000px;">
    <div class="row">
        <div class="col">
            <div class="text-left pt-5">
                <h2 class="fw-bold text-left pt-0">
                    Registrarse
                </h2>
                <hr style="border: 1px solid black;">
            </div>
            <form>
                <div class="mb-4">
                    <label for="email" class="form-label">Correo Electronico</label>
                    <input type="email" class="form-control" name="mail">
                </div>
                <div class="mb-4">
                    <label for="name" class="form-label">Nombre</label>
                    <input type="text" class="form-control" name="name">
                </div>
                <div class="mb-4">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" name="password">
                </div>
                <div class="mb-4">
                    <label for="password" class="form-label">Repite Password</label>
                    <input type="password" class="form-control" name="password">
                </div>
                <div class="d-flex justify-content-between">
            </div>
<div class="my-3 d-grid">
  <button type="submit" class="btn btn-secondary btonregi">Registrarse</button>
    <br>
    
</div>

            </form>
        </div>
    </div>
</div>
