<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-10 col-lg-6">
      <div class="pt-5 text-center text-md-start">
        <h2 class="fw-bold pt-0">Registrarse</h2>
        <hr class="border border-dark" />
      </div>

      <form (ngSubmit)="registrarse()" #formulario="ngForm">
        <div class="mb-4">
          <label for="email" class="form-label">Correo Electrónico</label>
          <input
            type="email"
            class="form-control"
            name="email"
            id="email"
            [(ngModel)]="usuario.Email"
            required
          />
        </div>

        <div class="mb-4">
          <label for="nombre" class="form-label">Nombre</label>
          <input
            type="text"
            class="form-control"
            name="nombre"
            id="nombre"
            [(ngModel)]="usuario.Nombre"
            required
          />
        </div>

        <div class="mb-4">
          <label for="apellido" class="form-label">Apellido</label>
          <input
            type="text"
            class="form-control"
            name="apellido"
            id="apellido"
            [(ngModel)]="usuario.Apellido"
            required
          />
        </div>

        <div class="mb-4">
          <label for="password" class="form-label">Password</label>
          <input
            type="password"
            class="form-control"
            name="password"
            id="password"
            [(ngModel)]="usuario.Password"
            required
          />
        </div>

        <div class="my-3 d-grid">
          <button type="submit" class="btn btn-secondary btonregi">
            Registrarse
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
