@use '../../../styles/variables' as theme;

.navbar {
  background-color: #15297C;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 64px;
  display: flex;
  align-items: center;
  padding: 0 1rem;

  .navbar-brand,
  .btn {
    color: #fff;
  }

  .search-bar {
    flex: 1;
    display: flex;
    justify-content: center;

    .input-group {
      background-color: #f1f3f5;
    }
  }
}

li[name="list-group-item"]:hover {
  font-weight: bold;
  color: theme.$primary-color;
  background: #efefef;
  transition: all 0.3s ease-in-out;
}

input.form-control {
  &:hover,
  &:focus {
    border: none;
    box-shadow: none;
    outline: none;
  }
}
