<div class="container py-4 mt-4">
  <!-- Navegación de pasos -->
  <div class="d-flex justify-content-start mb-4 step-indicators text-nowrap">
    <h6
      class="fw-bold text-light-gray border-bottom border-bottom-secondary pb-1 px-6"
    >
      1. Carrito
    </h6>
    <h6 class="fw-bold text-primary border-bottom border-bottom-primary px-6">
      2. Detalles de envío
    </h6>
    <h6
      class="fw-bold text-light-gray border-bottom border-bottom-secondary px-6"
    >
      3. Opciones de pago
    </h6>
  </div>

  <div class="row">
    <!-- Formulario de envío -->
    <div class="col-12 col-md-7 mt-3 px-5 shipping-form">
      <h6 class="fw-bold mb-3 ps-4 pb-2">Detalles de envío</h6>
      <form
        [formGroup]="shippingDataForm"
        (ngSubmit)="advanceToPayment()"
        id="shippingForm"
      >
        <div class="row g-4">
          <div class="col-md-5">
            <input
              type="text"
              class="form-control"
              placeholder="Nombre"
              name="name"
              formControlName="name"
              required
            />
            <div
              *ngIf="
                shippingDataForm.get('name')?.invalid &&
                shippingDataForm.get('name')?.touched
              "
              class="text-danger small"
            >
              <span
                *ngIf="shippingDataForm.get('name')?.errors?.['required']"
                class="small"
              >
                Campo requerido.
              </span>
            </div>
          </div>
          <div class="col-md-5">
            <input
              type="text"
              class="form-control"
              placeholder="Apellido"
              name="last_name"
              formControlName="last_name"
              required
            />
            <div
              *ngIf="
                shippingDataForm.get('last_name')?.invalid &&
                shippingDataForm.get('last_name')?.touched
              "
              class="text-danger small"
            >
              <span
                *ngIf="shippingDataForm.get('last_name')?.errors?.['required']"
                class="small"
              >
                Campo requerido.
              </span>
            </div>
          </div>
          <div class="col-10">
            <input
              type="text"
              class="form-control"
              placeholder="Dirección de domicilio"
              name="address"
              formControlName="address"
              required
            />
            <div
              *ngIf="
                shippingDataForm.get('address')?.invalid &&
                shippingDataForm.get('address')?.touched
              "
              class="text-danger small"
            >
              <span
                *ngIf="shippingDataForm.get('address')?.errors?.['required']"
                class="small"
              >
                Campo requerido.
              </span>
            </div>
          </div>
          <div class="col-10">
            <input
              type="text"
              class="form-control"
              placeholder="Apartamento, habitación, etc. (opcional)"
              name="room"
              formControlName="room"
            />
          </div>
          <div class="col-md-5">
            <select
              class="form-select bg-app-secondary border-light-gray"
              name="departament"
              formControlName="departament"
              required
            >
              <option
                class="text-placeholder"
                value=""
                disabled
                selected
                hidden
              >
                Departamento
              </option>
              <option *ngFor="let depto of departaments" [value]="depto">
                {{ depto }}
              </option>
            </select>
            <div
              *ngIf="
                shippingDataForm.get('departament')?.invalid &&
                shippingDataForm.get('departament')?.touched
              "
              class="text-danger small"
            >
              <span
                *ngIf="shippingDataForm.get('departament')?.errors?.['required']"
                class="small"
              >
                Campo requerido.
              </span>
            </div>
          </div>
          <div class="col-md-5">
            <input
              type="text"
              class="form-control"
              placeholder="Ciudad"
              name="city"
              formControlName="city"
              required
            />
            <div
              *ngIf="
                shippingDataForm.get('city')?.invalid &&
                shippingDataForm.get('city')?.touched
              "
              class="text-danger small"
            >
              <span
                *ngIf="shippingDataForm.get('city')?.errors?.['required']"
                class="small"
              >
                Campo requerido.
              </span>
            </div>
          </div>
          <div class="col-10">
            <input
              type="text"
              class="form-control"
              placeholder="Teléfono"
              name="phone"
              formControlName="phone"
              required
            />
            <div
              *ngIf="
                shippingDataForm.get('phone')?.invalid &&
                shippingDataForm.get('phone')?.touched
              "
              class="text-danger small"
            >
              <span
                *ngIf="shippingDataForm.get('phone')?.errors?.['required']"
                class="small"
              >
                Campo requerido.
              </span>
            </div>
          </div>
        </div>

        <hr class="my-4" />

        <!-- Método de envío -->
        <div class="border rounded p-2 w-50 border-light-gray">
          <div class="row g-0 align-items-start">
            <!-- Columna del input -->
            <div class="col-auto m-auto px-3">
              <input
                class="form-check-input mt-1"
                type="radio"
                name="envio"
                id="envioDAC"
                checked
              />
            </div>

            <!-- Columna del texto -->
            <div class="col ps-2">
              <label class="form-check-label small" for="envioDAC">
                <strong class="text-dark">Enviar con DAC</strong><br />
                <span id="dac-info">
                  Lunes a Viernes. El costo de DAC no está incluido. USD 5.00
                </span>
              </label>
            </div>
          </div>
        </div>

        <hr class="my-4" />
      </form>
    </div>

    <!-- Resumen del carrito -->
    <div class="col-12 col-md-4 mt-3 ms-7 cart-summary">
      <h6 class="fw-bold mb-3">Resumen del carrito</h6>
      <hr class="m-0" />
      <div class="small">
        <!-- Productos -->
        <div
          class="d-flex mb-3 pt-3 small"
          *ngFor="let product of cartProductList; trackByProducts"
        >
          <div
            class="border-light-gray rounded me-3"
            style="
              width: 50px;
              height: 50px;
              box-sizing: content-box;
              overflow: hidden;
              flex-shrink: 0;
            "
          >
            <img
              [src]="product.URL_Imagen"
              class="img-fluid bg-app-secondary"
              alt="Imagen"
            />
          </div>
          <div class="flex-grow-1">
            <p class="mb-1 fw-bold">{{ product.Nombre }}</p>
            <p class="mb-0 text-muted small">
              CANTIDAD: {{ product.Cantidad }}
            </p>
          </div>
          <div class="text-nowrap">
            <p class="mb-0 fw-bold">USD {{ product.Precio }}</p>
          </div>
        </div>

        <hr class="m-0" />
        <div class="d-flex justify-content-between pt-3">
          <span>Subtotal</span>
          <span>USD {{ calculateTotalCartPrice() | priceFormat }}</span>
        </div>
        <div class="d-flex justify-content-between py-3">
          <span>Envío</span>
          <span class="text-muted">Calculado en el siguiente paso</span>
        </div>
        <hr class="m-0" />
        <div class="d-flex justify-content-between fw-bold py-3">
          <span>Total</span>
          <span>USD {{ calculateTotalCartPrice() | priceFormat }}</span>
        </div>
        <div class="d-grid mt-3">
          <button
            type="submit"
            form="shippingForm"
            class="btn bg-app-primary rounded-pill my-2 py-2"
          >
            <span class="fw-semibold text-extra-light-gray">
              CONTINUAR CON EL PAGO
            </span>
          </button>
          <button
            class="btn border-light-gray rounded-pill my-2 py-2"
            (click)="returnToCart()"
          >
            <span class="fw-semibold text-dark-gray"> VOLVER AL CARRITO </span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
