<p>reuperarpassword works!</p>
<div class="container" style="width: 1000px;">
    <div class="row">
        <div class="col justify-content-center align-items-center ">
            <div class="text-left pt-5">
                <h2 class="fw-bold text-center pt-0">
                    Recuperar Password
                </h2>
                <hr style="border: 1px solid black;">
            </div>
             <form (ngSubmit)="recuperarPassword()" #formulario="ngForm">
                <div class="mb-4 pt-5 ">
                    <label for="email" class="form-label">Correo Electronico</label>
                    <input type="email" class="form-control" name="email" [(ngModel)]="email">
                </div>
                <div class="d-flex justify-content-between">
            </div>
<div class="my-3 d-grid">
  <button type="submit" class="btn btn-secondary btonregi">Reuperar</button>
    <br>
    
</div>

            </form>
        </div>
    </div>
</div>
