<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-10 col-lg-6">
      <div class="pt-5 text-center text-md-start">
        <h2 class="fw-bold pt-0 text-center">Recuperar Password</h2>
        <hr class="border border-dark" />
      </div>

      <form (ngSubmit)="recuperarPassword()" #formulario="ngForm">
        <div class="mb-4 pt-4">
          <label for="email" class="form-label">Correo Electrónico</label>
          <input
            type="email"
            class="form-control"
            name="email"
            [(ngModel)]="email"
            required
          />
        </div>

        <div class="my-3 d-grid">
          <button type="submit" class="btn btn-secondary btonregi">
            Recuperar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
