<div class="wide-container">
  <!-- Banners -->
  <div class="row">
    <div class="col-12">
      <div class="banner-container position-relative">
        <img [src]="images[currentIndex]" alt="Banner" />
        <button class="banner-btn left" (click)="prevImage()">
          <i class="bi bi-chevron-left"></i>
        </button>
        <button class="banner-btn right" (click)="nextImage()">
          <i class="bi bi-chevron-right"></i>
        </button>
      </div>
    </div>
  </div>

  <!-- Secciones destacadas -->
  <div class="row my-5 gx-4 gy-4 custom-featured-sections">
    <div class="col-md-4">
      <div
        class="featured-vertical h-100 d-flex flex-column justify-content-center align-items-center text-white"
      >
        <h5 class="fw-semibold text-extra-light-gray">Equipos armados</h5>
        <a
          class="fw-semibold text-extra-light-gray link-underline link-underline-opacity-0"
          style="cursor: pointer"
          (click)="goToCategory('PCs'); $event.preventDefault()"
        >
          Compra ahora
          <i class="bi bi-pc-display ms-1"></i>
        </a>
      </div>
    </div>
    <div class="col-md-8 d-flex flex-column justify-content-between">
      <div class="featured-horizontal mb-3 text-white">
        <h5 class="fw-semibold text-extra-light-gray">Periféricos</h5>
        <a
          class="fw-semibold text-extra-light-gray link-underline link-underline-opacity-0"
          style="cursor: pointer"
          (click)="goToCategory('Periféricos'); $event.preventDefault()"
        >
          Compra ahora
          <i class="bi bi-mouse3 ms-1"></i>
        </a>
      </div>
      <div class="featured-horizontal text-white">
        <h5 class="fw-semibold text-extra-light-gray">Componentes</h5>
        <a
          class="fw-semibold text-extra-light-gray link-underline link-underline-opacity-0"
          style="cursor: pointer"
          (click)="goToCategory('Componentes'); $event.preventDefault()"
        >
          Compra ahora
          <i class="bi bi-pci-card-network ms-1"></i>
        </a>
      </div>
    </div>
  </div>

  <!-- Lo más vendido -->
  <div class="bestsellers-section mb-5">
    <div
      class="d-flex justify-content-between align-items-center mb-3 flex-wrap"
    >
      <h5 class="fw-semibold text-dark mb-2 mb-md-0 d-flex align-items-center">
        <i class="bi bi-star-fill me-2 fs-6" style="color: #ffd700"></i>
        <span class="fs-6 fs-md-5">Lo más vendido</span>
      </h5>
      <a
        [routerLink]="['/catalogo']"
        class="view-more text-dark link-underline link-underline-opacity-0 d-flex align-items-center"
      >
        <span class="fw-semibold fs-6 fs-md-6 text-dark">Más productos</span>
        <i class="bi bi-bag-plus ms-1 fs-5" style="color: #15297c"></i>
      </a>
    </div>
    <div class="row g-3 w-100">
      <div
        *ngFor="let product of bestsellers.slice(0, 6)"
        class="col-6 col-sm-4 col-md-3 col-lg-2"
      >
        <div
          class="card bg-app-secondary border-light-gray overflow-hidden d-flex flex-column justify-content-between h-100"
          style="height: 280px"
        >
          <!-- Imagen -->
          <div
            style="
              position: relative;
              width: 100%;
              padding-top: 100%;
              background-color: #eff2f6;
            "
          >
            <img
              [src]="product.URL_Imagen"
              alt="Product"
              style="
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                max-width: 100%;
                max-height: 100%;
                object-fit: contain;
              "
            />
          </div>

          <!-- Info -->
          <div class="card-body p-2 small mt-1">
            <div
              class="d-flex justify-content-center mb-3"
              (click)="viewProduct(product.ID)"
            >
              <button class="rounded-3 bg-dark border-0 w-100 py-1">
                <span class="fw-semibold text-extra-light-gray small"
                  >Ver Detalles</span
                >
              </button>
            </div>
            <p class="card-title mb-1 text-truncate">
              {{ product.Nombre }}
            </p>
            <p class="card-primary fw-semibold mb-0">
              USD {{ product.Precio }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr class="m-0" />

  <!-- Beneficios -->
  <div class="benefits-section py-5">
    <div class="row row-cols-2 row-cols-md-4 g-3 text-center">
      <div class="col">
        <div class="benefit-card p-4 h-100 bg-app-secondary border-light-gray">
          <div class="fs-1 mb-3"><i class="bi bi-truck"></i></div>
          <h6 class="fw-bold">Envíos rápidos</h6>
          <p class="text-muted mb-0">En todo el país</p>
        </div>
      </div>
      <div class="col">
        <div class="benefit-card p-4 h-100 bg-app-secondary border-light-gray">
          <div class="fs-1 mb-3"><i class="bi bi-shield-lock"></i></div>
          <h6 class="fw-bold">Pago seguro</h6>
          <p class="text-muted mb-0">Protección 100%</p>
        </div>
      </div>
      <div class="col">
        <div class="benefit-card p-4 h-100 bg-app-secondary border-light-gray">
          <div class="fs-1 mb-3"><i class="bi bi-telephone-inbound"></i></div>
          <h6 class="fw-bold">Soporte 24/7</h6>
          <p class="text-muted mb-0">Llamanos o escribinos</p>
        </div>
      </div>
      <div class="col">
        <div class="benefit-card p-4 h-100 bg-app-secondary border-light-gray">
          <div class="fs-1 mb-3"><i class="bi bi-shield-check"></i></div>
          <h6 class="fw-bold">Garantía 30 días</h6>
          <p class="text-muted mb-0">Cambios o devoluciones</p>
        </div>
      </div>
    </div>
  </div>

  <hr class="m-0" />

  <div class="container py-5">
    <h2 class="mb-4 fw-bold">Contacto</h2>
    <div class="row">
      <!-- Formulario -->
      <div class="col-md-6 mb-3">
        <form
          [formGroup]="contactDataForm"
          (ngSubmit)="onSubmitContact()"
          id="contactForm"
        >
          <div class="mb-4">
            <input
              type="text"
              class="form-control"
              placeholder="Nombre Completo"
              formControlName="Nombre"
            />
          </div>
          <div class="mb-4">
            <input
              type="email"
              class="form-control"
              placeholder="Dirección de correo"
              formControlName="Email"
            />
          </div>
          <div class="mb-4">
            <input
              type="text"
              class="form-control"
              placeholder="Asunto"
              formControlName="Asunto"
            />
          </div>
          <div class="mb-4">
            <textarea
              class="form-control"
              rows="7"
              placeholder="Mensaje"
              formControlName="Mensaje"
            ></textarea>
          </div>
          <div class="d-grid w-50 mx-auto">
            <button type="submit" class="btn bg-app-primary rounded-pill py-2">
              <span
                class="d-inline-block text-nowrap fw-semibold text-extra-light-gray small"
              >
                ENVIAR MENSAJE
              </span>
            </button>
          </div>
        </form>
      </div>

      <!-- Mapa -->
      <div class="col-md-6">
        <div class="ratio ratio-4x3 rounded overflow-hidden border-light-gray">
          <iframe
            src="https://www.openstreetmap.org/export/embed.html?bbox=-58.5%2C-35.1%2C-53%2C-30.05&layer=mapnik&marker=-34.9150%2C-54.94225"
            style="border: 0"
            allowfullscreen
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
