@use 'variables' as theme;

.bg-app-primary { 
    background-color: theme.$primary-color !important;
}

.bg-app-secondary {
    background-color: theme.$background-color !important;
}

.bg-custom {
    background-color: theme.$border-color !important;
}

.border-light-gray {
    border: 1px solid theme.$border-color !important;
}

.text-dark-gray {
    color: theme.$text-color !important;
}

.text-light-gray {
    color: theme.$border-color !important;
}

.text-extra-light-gray {
    color: theme.$background-color !important;
}