@use '_variables.scss' as theme;

main {
    margin-top: 64px;
    font-family: 'public-sans', sans-serif;
    background-color: theme.$background-color;
}

body {
    background-color: theme.$background-color;
}

.bg-app-primary { 
    background-color: theme.$primary-color !important;
}

.bg-app-secondary {
    background-color: theme.$background-color !important;
}

.bg-custom {
    background-color: theme.$border-color !important;
}

.border-light-gray {
    border: 1px solid theme.$border-color !important;
}

.border-bottom-primary {
    border-bottom: 2px solid theme.$primary-color !important;
}

.border-bottom-secondary {
    border-bottom: 2px solid theme.$border-color !important;
}

.text-primary {
    color: theme.$primary-color !important;
}

.text-dark-gray {
    color: theme.$text-color !important;
}

.text-light-gray {
    color: theme.$border-color !important;
}

.text-extra-light-gray {
    color: theme.$background-color !important;
}