<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
<div class="container mt-5">
    <div class="row align-items-center mb-3">
        <div class="col-9">
            <h3 class="mb-0">Lista Productos</h3>
        </div>
        <div class="col-3 text-end">
            <a class="btn btn-outline" href="#" role="button"><i class="bi bi-sort-down"></i></a>
            <a class="btn btn-primary" href="#" role="button">Añadir Producto</a>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col">
            <table class="table text-center align-middle">
                <thead>
                    <tr>
                        <th>Imagen</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Precio</th>
                        <th scope="col">Descripción</th>
                        <th scope="col">Stock</th>
                        <th scope="col">Marca</th>
                        <th scope="col">Categoría</th>
                        <th scope="col">Fecha</th>
                    </tr>
                </thead>
                <!-- TODO: Modificar cuando se conecte con la API -->
                <tbody class="table-group-divider">
                    <tr>
                        <th scope="row"><i class="bi bi-pc-display"></i></th>
                        <td>Producto 1</td>
                        <td>50</td>
                        <td>Este es el producto 1</td>
                        <td>10</td>
                        <td>Marca 1</td>
                        <td>Categoria 1</td>
                        <td>1/1/2025</td>
                        <td><button class="btn btn-link"><i class="bi bi-pencil"></i></button></td>
                        <td><button class="btn btn-link"><i class="bi bi-trash3"></i></button></td>
                    </tr>
                    <tr>
                        <th scope="row"><i class="bi bi-pci-card"></i></th>
                        <td>Producto 2</td>
                        <td>50</td>
                        <td>Este es el producto 2</td>
                        <td>10</td>
                        <td>Marca 2</td>
                        <td>Categoria 2</td>
                        <td>1/1/2025</td>
                        <td><button class="btn btn-link"><i class="bi bi-pencil"></i></button></td>
                        <td><button class="btn btn-link"><i class="bi bi-trash3"></i></button></td>
                    </tr>
                    <tr>
                        <th scope="row"><i class="bi bi-bag-fill"></i></th>
                        <td>Producto 3</td>
                        <td>50</td>
                        <td>Este es el producto 3</td>
                        <td>10</td>
                        <td>Marca 3</td>
                        <td>Categoria 3</td>
                        <td>1/1/2025</td>
                        <td><button class="btn btn-link"><i class="bi bi-pencil"></i></button></td>
                        <td><button class="btn btn-link"><i class="bi bi-trash3"></i></button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>