<app-navbar></app-navbar>


<div style="margin: auto; padding: 1rem; max-width: 800px; margin-top: 1rem;">

  <h2 class="mb-3">Modificar Gestor</h2>

   <hr>

  <form (ngSubmit)="enviarFormulario()" #formulario="ngForm">

    <!-- Campos -->

    <div style="display: flex; flex-direction: column; gap: 1rem; margin-bottom: 1.5rem;">


      <h4 class="mb-3">Ingrese el Email del gestor a modificar. </h4>

      <input type="email" class="form-control"  placeholder="Email" name="email" [(ngModel)]="gestor.Email" required />

    </div>

    <!-- Permisos -->

     <div style="border: 1px solid #ddd; border-radius: 8px; padding: 1rem; margin-bottom: 2rem; width: 100%;">

      <p style="font-weight: bold; margin-bottom: 0.5rem;">Permisos de gestión</p>

      <div style="display: flex; flex-direction: column; gap: 0.5rem;">

        <label><input type="checkbox" [(ngModel)]="gestor.p_producto" name="productos" /> Productos</label>
        <label><input type="checkbox" [(ngModel)]="gestor.p_inventario" name="inventario" /> Inventario</label>
        <label><input type="checkbox" [(ngModel)]="gestor.p_pedidos" name="pedidos" /> Pedidos</label>
        <!-- <label><input type="checkbox" [(ngModel)]="gestor.p_validacion" name="validacion" /> Validación</label> -->
        <label><input type="checkbox" [(ngModel)]="gestor.p_soporte" name="soporte" /> Soporte</label>

      </div>
    </div>

    <!-- Botones -->
    <div style="display: flex; flex-direction: column; gap: 1rem;">

      <button type="submit" style="background-color: #132A8E; color: white; padding: 0.5rem 1rem; border: none; border-radius: 6px; width: 100%;">AÑADIR</button>

      <button type="button" (click)="limpiarFormulario()" style="background-color: #132A8E; color: white; padding: 0.5rem 1rem; border: none; border-radius: 6px; width: 100%;">LIMPIAR</button>

      <button type="button" (click)="cancelar()" style="background-color: #f2f2f2; color: #000; padding: 0.5rem 1rem; border: 1px solid #ccc; border-radius: 6px; width: 100%;">CANCELAR</button>

    </div>
    
  </form>

</div>


