<app-navbar></app-navbar>

<div class="about-wrapper">
  <div class="about-container">
  <h1>Sobre Nosotros</h1>
  <p>
    En MNJ Tecno nos dedicamos a la venta de productos informáticos de calidad. Contamos con una amplia variedad de computadoras,
    componentes, accesorios y periféricos de marcas confiables y con garantía.
  </p>
  <p>
    Nos esforzamos por ofrecer un buen servicio, con atención clara y rápida para ayudarte en cada etapa de tu compra.
    Ya sea que estés armando tu PC, actualizando equipos o buscando accesorios, en Tecno Store vas a encontrar precios
    justos y soporte cuando lo necesites.
  </p>

  <div class="benefits">
    <div class="benefit">
      <div class="icon"><i class="bi bi-truck"></i></div>
      <div class="text">
        <h3>Envíos rápidos</h3>
        <p>En todo el país</p>
      </div>
    </div>
    <div class="benefit">
      <div class="icon"><i class="bi bi-shield-lock"></i></div>
      <div class="text">
        <h3>Pago seguro</h3>
        <p>Protección 100%</p>
      </div>
    </div>
    <div class="benefit">
      <div class="icon"><i class="bi bi-telephone-inbound"></i></div>
      <div class="text">
        <h3>Soporte 24/7</h3>
        <p>Llamanos o escribinos</p>
      </div>
    </div>
    <div class="benefit">
      <div class="icon"><i class="bi bi-shield-check"></i></div>
      <div class="text">
        <h3>Garantía 30 días</h3>
        <p>Cambios o devoluciones</p>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
</div>