<div class="container" style="width: 1000px;">
  <div class="row">
    <div class="col justify-content-center align-items-center">
      <div class="text-left pt-5">
        <h2 class="fw-bold text-center pt-0">Cambiar Password</h2>
        <hr style="border: 1px solid black;">
      </div>

      <form (ngSubmit)="cambiarpassword()" #formulario="ngForm">
        <div class="mb-4">
          <label for="token" class="form-label">Token</label>
          <input type="text" class="form-control" name="token" id="token" [(ngModel)]="token" (keyup)="verificarToken()" required>
          <label for="password" class="form-label">Nueva Contraseña</label>
          <input type="password"class="form-control"  name="password" id="password" requied [(ngModel)]="password"[disabled]="!tokenValido" >
        </div>
        <div class="my-3 d-grid">
          <button type="submit" class="btn btn-secondary btonregi"[disabled]="!tokenValido" >Cambiar</button>
        </div>
      </form>
    </div>
  </div>
</div>
