<div class="container py-4 mt-4">
  <!-- Navegación de pasos -->
  <div class="d-flex justify-content-start mb-4">
    <h6
      class="fw-bold text-light-gray border-bottom border-bottom-secondary pb-1 px-6"
    >
      1. Carrito
    </h6>
    <h6
      class="fw-bold text-light-gray border-bottom border-bottom-secondary px-6"
    >
      2. Detalles de envío
    </h6>
    <h6 class="fw-bold text-primary border-bottom border-bottom-primary px-6">
      3. Opciones de pago
    </h6>
  </div>

  <div class="row">
    <!-- Método de pago -->
    <div class="col-md-7 mt-3 px-5">
      <h6 class="fw-bold mb-3 ps-4 pb-2">Método de pago</h6>

      <!-- Tarjeta de crédito -->
      <div class="border p-3 rounded-3 mb-3 border-light-gray">
        <div class="row g-0 align-items-start">
          <!-- Columna del input radio -->
          <div class="col-auto mt-2 px-3">
            <input
              class="form-check-input mt-1"
              type="radio"
              name="paymentMethod"
              id="creditCard"
              checked
            />
          </div>

          <!-- Columna del contenido -->
          <div class="col ps-3">
            <label class="form-check-label fw-bold" for="creditCard">
              Tarjeta de crédito
            </label>
            <p class="small mt-1 mb-3" id="creditCardInfo">
              Tu información está protegida con conexión segura (SSL).
            </p>
          </div>
          <div class="row g-3 mt-0">
            <div class="col-md-6">
              <input
                type="text"
                class="form-control"
                placeholder="0000 0000 0000 0000"
              />
            </div>
            <div class="col-md-3">
              <input type="text" class="form-control" placeholder="MM / YY" />
            </div>
            <div class="col-md-3">
              <input type="text" class="form-control" placeholder="CVV" />
            </div>
            <div class="col-12 mb-2">
              <input
                type="text"
                class="form-control"
                placeholder="Nombre del titular de la tarjeta"
              />
            </div>
          </div>
        </div>
      </div>

      <!-- Transferencia bancaria -->
      <div class="border p-3 rounded-3 mb-3 border-light-gray">
        <div class="row g-0 align-items-start">
          <!-- Columna del input radio -->
          <div class="col-auto mt-2 px-3">
            <input
              class="form-check-input mt-1"
              type="radio"
              name="paymentMethod"
              id="bankTransfer"
            />
          </div>

          <!-- Columna del contenido -->
          <div class="col ps-3">
            <label class="form-check-label fw-bold" for="bankTransfer">
              Transferencia bancaria
            </label>
            <p class="small mt-1 mb-0" id="transferInfo">
              Debes realizar una transferencia a los datos que se te mostrarán
              al finalizar la compra. Tienes 48 horas para enviar el
              comprobante.
            </p>
          </div>
        </div>
      </div>

      <!-- Depósito en redes de cobranza -->
      <div class="border p-3 rounded-3 border-light-gray mb-3">
        <div class="row g-0 align-items-start">
          <!-- Columna del input radio -->
          <div class="col-auto mt-2 px-3">
            <input
              class="form-check-input mt-1"
              type="radio"
              name="paymentMethod"
              id="cashPayment"
            />
          </div>

          <!-- Columna del contenido -->
          <div class="col ps-3">
            <label class="form-check-label fw-bold" for="cashPayment">
              Depósito en redes de cobranza
            </label>
            <p class="small mt-1 mb-0" id="depositInfo">
              Puedes realizar el depósito en Abitab o RedPagos con los datos que
              te daremos al finalizar la compra. Tienes 48 horas para enviar el
              comprobante.
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- Resumen del carrito -->
    <div class="col-md-4 mt-3 ms-7">
      <h6 class="fw-bold mb-3">Resumen del carrito</h6>
      <hr class="m-0" />
      <div class="small">
        <!-- Producto 1 -->
        <div class="d-flex mb-3 pt-3">
          <div class="me-3">
            <div class="bg-secondary" style="width: 50px; height: 50px"></div>
          </div>
          <div class="flex-grow-1">
            <p class="mb-1 fw-bold">Nombre del Producto</p>
            <p class="mb-0 text-muted small">CANTIDAD: 1</p>
          </div>
          <div class="text-end">
            <p class="mb-0 fw-bold">USD 295.00</p>
          </div>
        </div>

        <!-- Producto 2 -->
        <div class="d-flex mb-3">
          <div class="me-3">
            <div class="bg-secondary" style="width: 50px; height: 50px"></div>
          </div>
          <div class="flex-grow-1">
            <p class="mb-1 fw-bold">Nombre del Producto</p>
            <p class="mb-0 text-muted small">CANTIDAD: 2</p>
          </div>
          <div class="text-end">
            <p class="mb-0 fw-bold">USD 48.00</p>
          </div>
        </div>

        <hr class="m-0" />
        <div class="d-flex justify-content-between pt-3">
          <span>Subtotal</span>
          <span>USD 343.00</span>
        </div>
        <div class="d-flex justify-content-between py-3">
          <span>Envío</span>
          <span class="text-muted">Calculado en el siguiente paso</span>
        </div>
        <hr class="m-0" />
        <div class="d-flex justify-content-between fw-bold py-3">
          <span>Total</span>
          <span>USD 343.00</span>
        </div>
        <div class="d-grid mt-3">
          <button class="btn bg-app-primary rounded-pill my-2 py-2">
            <span class="fw-semibold text-extra-light-gray">
              CONTINUAR CON EL PAGO
            </span>
          </button>
          <button class="btn border-light-gray rounded-pill bg-bord my-2 py-2">
            <span class="fw-semibold text-dark-gray"> VOLVER AL CARRITO </span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
