<div class="container py-4 mt-4">
  <!-- Navegación de pasos -->
  <div class="d-flex justify-content-start mb-4">
    <h6
      class="fw-bold text-light-gray border-bottom border-bottom-secondary pb-1 px-6"
    >
      1. Carrito
    </h6>
    <h6
      class="fw-bold text-light-gray border-bottom border-bottom-secondary px-6"
    >
      2. Detalles de envío
    </h6>
    <h6 class="fw-bold text-primary border-bottom border-bottom-primary px-6">
      3. Opciones de pago
    </h6>
  </div>

  <form
    [formGroup]="paymentDataForm"
    (ngSubmit)="confirmPurchase()"
    id="paymentForm"
  >
    <div class="row">
      <!-- Método de pago -->
      <div class="payment col-md-7 mt-3 px-5">
        <h6 class="fw-bold mb-3 ps-4 pb-2">Método de pago</h6>

        <!-- Tarjeta de crédito -->
        <div class="border p-3 rounded-3 mb-3 border-light-gray">
          <div class="row g-0 align-items-start">
            <!-- Columna del input radio -->
            <div class="col-auto mt-2 px-3">
              <div class="form-check">
                <input
                  type="radio"
                  class="form-check-input mt-1"
                  [value]="'creditCard'"
                  [checked]="
                    paymentDataForm.get('paymentMethod')?.value === 'creditCard'
                  "
                  (change)="onPaymentChange('creditCard')"
                  name="paymentMethod"
                  id="creditCard"
                />
              </div>
            </div>

            <!-- Columna del contenido -->
            <div class="col ps-3">
              <label class="form-check-label fw-bold" for="creditCard">
                Tarjeta de crédito
              </label>
              <p class="small mt-1 mb-3" id="creditCardInfo">
                Tu información está protegida con conexión segura (SSL).
              </p>
            </div>

            <div class="row g-3 mt-0">
              <div class="col-md-6">
                <input
                  type="text"
                  class="form-control"
                  placeholder="0000 0000 0000 0000"
                  formControlName="card_number"
                />
                <div
                  *ngIf="
                    paymentDataForm.value.paymentMethod === 'creditCard' &&
                    paymentDataForm.get('card_number')?.invalid &&
                    paymentDataForm.get('card_number')?.touched
                  "
                  class="text-danger small"
                >
                  <span
                    *ngIf="paymentDataForm.get('card_number')?.errors?.['required']"
                    class="small"
                    >Campo requerido.</span
                  >
                </div>
              </div>
              <div class="col-md-3">
                <input
                  type="text"
                  class="form-control"
                  placeholder="MM / YY"
                  formControlName="card_maturity"
                />
                <div
                  *ngIf="
                    paymentDataForm.value.paymentMethod === 'creditCard' &&
                    paymentDataForm.get('card_maturity')?.invalid &&
                    paymentDataForm.get('card_maturity')?.touched
                  "
                  class="text-danger small"
                >
                  <span
                    *ngIf="paymentDataForm.get('card_maturity')?.errors?.['required']"
                    class="small"
                    >Campo requerido.</span
                  >
                </div>
              </div>
              <div class="col-md-3">
                <input
                  type="text"
                  class="form-control"
                  placeholder="CVV"
                  formControlName="card_verification_code"
                />
                <div
                  *ngIf="
                    paymentDataForm.value.paymentMethod === 'creditCard' &&
                    paymentDataForm.get('card_verification_code')?.invalid &&
                    paymentDataForm.get('card_verification_code')?.touched
                  "
                  class="text-danger small"
                >
                  <span
                    *ngIf="paymentDataForm.get('card_verification_code')?.errors?.['required']"
                    class="small"
                    >Campo requerido.</span
                  >
                </div>
              </div>
              <div class="col-12 mb-2">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Nombre del titular de la tarjeta"
                  formControlName="card_holder"
                />
                <div
                  *ngIf="
                    paymentDataForm.value.paymentMethod === 'creditCard' &&
                    paymentDataForm.get('card_holder')?.invalid &&
                    paymentDataForm.get('card_holder')?.touched
                  "
                  class="text-danger small"
                >
                  <span
                    *ngIf="paymentDataForm.get('card_holder')?.errors?.['required']"
                    class="small"
                    >Campo requerido.</span
                  >
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Transferencia bancaria -->
        <div class="border p-3 rounded-3 mb-3 border-light-gray">
          <div class="row g-0 align-items-start">
            <!-- Columna del input radio -->
            <div class="col-auto mt-2 px-3">
              <div class="form-check">
                <input
                  type="radio"
                  class="form-check-input mt-1"
                  [value]="'bankTransfer'"
                  [checked]="
                    paymentDataForm.get('paymentMethod')?.value ===
                    'bankTransfer'
                  "
                  (change)="onPaymentChange('bankTransfer')"
                  name="paymentMethod"
                  id="bankTransfer"
                />
              </div>
            </div>

            <!-- Columna del contenido -->
            <div class="col ps-3">
              <label class="form-check-label fw-bold" for="bankTransfer">
                Transferencia bancaria
              </label>
              <p class="small mt-1 mb-0" id="transferInfo">
                Debes realizar una transferencia a los datos que se te mostrarán
                al finalizar la compra. Tienes 48 horas para enviar el
                comprobante.
              </p>
            </div>
          </div>
        </div>

        <!-- Depósito en redes de cobranza -->
        <div class="border p-3 rounded-3 border-light-gray mb-3">
          <div class="row g-0 align-items-start">
            <!-- Columna del input radio -->
            <div class="col-auto mt-2 px-3">
              <div class="form-check">
                <input
                  type="radio"
                  class="form-check-input mt-1"
                  [value]="'cashPayment'"
                  [checked]="
                    paymentDataForm.get('paymentMethod')?.value ===
                    'cashPayment'
                  "
                  (change)="onPaymentChange('cashPayment')"
                  name="paymentMethod"
                  id="cashPayment"
                />
              </div>
            </div>

            <!-- Columna del contenido -->
            <div class="col ps-3">
              <label class="form-check-label fw-bold" for="cashPayment">
                Depósito en redes de cobranza
              </label>
              <p class="small mt-1 mb-0" id="depositInfo">
                Puedes realizar el depósito en Abitab o RedPagos con los datos
                que te daremos al finalizar la compra. Tienes 48 horas para
                enviar el comprobante.
              </p>
            </div>
          </div>
        </div>
      </div>

      <!-- Resumen del carrito -->
      <div class="col-md-4 mt-3 ms-7">
        <h6 class="fw-bold mb-3">Resumen del carrito</h6>
        <hr class="m-0" />
        <div class="small">
          <!-- Productos -->
          <div
            class="d-flex mb-3 pt-3 small"
            *ngFor="let product of cartProductList; trackByProducts"
          >
            <div
              class="border rounded me-3"
              style="
                width: 50px;
                height: 50px;
                box-sizing: content-box;
                overflow: hidden;
                flex-shrink: 0;
              "
            >
              <img [src]="product.URL_Imagen" class="img-fluid" alt="Imagen" />
            </div>
            <div class="flex-grow-1">
              <p class="mb-1 fw-bold">{{ product.Nombre }}</p>
              <p class="mb-0 text-muted small">
                CANTIDAD: {{ product.Cantidad }}
              </p>
            </div>
            <div class="text-nowrap">
              <p class="mb-0 fw-bold">USD {{ product.Precio }}</p>
            </div>
          </div>

          <hr class="m-0" />
          <div class="d-flex justify-content-between pt-3">
            <span>Subtotal</span>
            <span>USD {{ calculateTotalCartPrice() }}</span>
          </div>
          <div class="d-flex justify-content-between py-3">
            <span>Envío</span>
            <span class="text-muted">USD {{ shippingCost }}</span>
          </div>
          <hr class="m-0" />
          <div class="d-flex justify-content-between fw-bold py-3">
            <span>Total</span>
            <span>USD {{ calculateTotalCartPrice() + shippingCost }}</span>
          </div>
          <div class="d-grid mt-3">
            <button class="btn bg-app-primary rounded-pill my-2 py-2">
              <span class="fw-semibold text-extra-light-gray">
                FINALIZAR COMPRA
              </span>
            </button>
            <button
              class="btn border-light-gray rounded-pill my-2 py-2"
              (click)="returnToShippingInfo()"
            >
              <span class="fw-semibold text-dark-gray">
                VOLVER A DETALLES
              </span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
