<div class="container py-4 mt-4 container-truncado">
  <!-- Navegación de pasos -->
  <div class="d-flex justify-content-start mb-4">
    <h6
      class="fw-bold text-primary border-bottom border-bottom-primary pb-1 px-6 text-nowrap"
    >
      1. Carrito
    </h6>
    <h6
      class="fw-bold text-light-gray border-bottom border-bottom-secondary px-6"
    >
      2. Detalles de envío
    </h6>
    <h6
      class="fw-bold text-light-gray border-bottom border-bottom-secondary px-6"
    >
      3. Opciones de pago
    </h6>
  </div>

  <div class="row">
    <!-- Columna izquierda: productos -->
    <div class="col-md-7 mt-3 px-5 producto-truncado">
      <h6 class="fw-bold mb-3 ps-4">Productos en el carrito</h6>
      <hr class="m-0" />
      <!-- Productos -->
      <div
        class="d-flex py-3 px-4 producto-truncado"
        *ngFor="let product of cartProductList; trackByProducts"
      >
        <!-- Imagen -->
        <div
          class="border-light-gray rounded me-3"
          style="
            width: 100px;
            height: 100px;
            box-sizing: content-box;
            overflow: hidden;
            flex-shrink: 0;
          "
        >
          <a [routerLink]="'/producto/' + product.ID_Producto">
            <img
              [src]="product.URL_Imagen"
              class="img-fluid bg-app-secondary cursor-pointer"
              alt="Imagen"
            />
          </a>
        </div>

        <!-- Info del producto: nombre + contador + trash + precio -->
        <div class="flex-grow-1 d-flex flex-column justify-content-center">
          <!-- Nombre del producto -->
          <a [routerLink]="'/producto/' + product.ID_Producto">
            <span
              class="cursor-pointer fw-semibold mb-2 mt-2 mt-md-0 small nombre-truncado"
            >
              {{ product.Nombre }}
            </span>
          </a>

          <!-- Contador + Trash + Precio alineado a la derecha -->
          <div class="d-flex align-items-center mt-0 mt-md-4 flex-wrap w-100">
            <!-- Contador + Trash (izquierda) -->
            <div class="d-flex align-items-center gap-2">
              <div
                class="d-flex align-items-center bg-app-secondary border border-light-gray rounded-pill px-3 my-auto"
                style="width: 80px; height: 34px"
              >
                <button
                  class="btn btn-sm p-0 border-0 shadow-none text-dark"
                  type="button"
                  (click)="
                    updateQuantity(product.ID_Producto, product.Cantidad - 1)
                  "
                >
                  −
                </button>
                <input
                  type="text"
                  class="form-control form-control-sm text-center border-0 shadow-none p-0 bg-app-secondary"
                  style="width: 30px"
                  [value]="product.Cantidad"
                  readonly
                />
                <button
                  class="btn btn-sm p-0 border-0 shadow-none text-dark"
                  type="button"
                  (click)="
                    updateQuantity(product.ID_Producto, product.Cantidad + 1)
                  "
                >
                  +
                </button>
              </div>
              <button
                class="btn btn-link text-light-gray p-0"
                (click)="removeCartProduct(product.ID_Producto)"
              >
                <i class="bi bi-trash3 fs-5"></i>
              </button>
            </div>

            <!-- Precio (alineado a la derecha) -->
            <div class="ms-auto fw-semibold text-nowrap mt-0 mt-md-0">
              USD {{ product.Precio }}
            </div>
          </div>
        </div>
      </div>
      <hr class="m-0" />
    </div>

    <!-- Columna derecha: resumen -->
    <div class="col-md-4 mt-3 ms-7 resumen-truncado">
      <h6 class="fw-bold mb-3">Resumen</h6>

      <div class="small">
        <hr class="m-0" />
        <div class="d-flex justify-content-between pt-3">
          <span>Subtotal</span>
          <span>USD {{ calculateTotalCartPrice() | priceFormat }}</span>
        </div>
        <div class="d-flex justify-content-between py-3">
          <span>Envío</span>
          <span class="text-muted">Calculado en el tercer paso</span>
        </div>
        <hr class="m-0" />
        <div class="d-flex justify-content-between py-3 fw-semibold">
          <span>Total</span>
          <span>USD {{ calculateTotalCartPrice() | priceFormat }}</span>
        </div>
        <div class="d-grid mt-3">
          <button
            class="btn bg-app-primary rounded-pill my-2 py-2"
            (click)="advanceShippingDetails(this.cartProductList)"
          >
            <span class="fw-semibold text-extra-light-gray">
              CONTINUAR CON EL ENVÍO
            </span>
          </button>
          <button
            class="btn border-light-gray rounded-pill my-2 py-2"
            (click)="returnToShop()"
          >
            <span class="fw-semibold text-dark-gray"> SEGUIR COMPRANDO </span>
          </button>
        </div>
      </div>
    </div>

    <div class="col-md-6 mt-3 ms-5 small info-pedido-truncado">
      <!-- Información del pedido -->
      <div class="mt-4">
        <h6 class="fw-bold pt-3">Información del pedido</h6>
        <hr class="m-0" />
        <div class="accordion" id="accordionDevolucion">
          <div class="accordion-item bg-app-secondary border-0">
            <h2 class="accordion-header" id="headingOne">
              <button
                class="accordion-button collapsed bg-app-secondary px-0 py-3"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseDevolucion"
              >
                <p class="text-dark-gray small mb-0">Políticas de devolución</p>
              </button>
            </h2>
            <div
              id="collapseDevolucion"
              class="accordion-collapse collapse"
              data-bs-parent="#accordionDevolucion"
            >
              <div class="accordion-body px-3 py-0">
                <p class="text-light-gray small">
                  En Tecno Store, queremos que estés completamente satisfecho
                  con tu compra. Si por alguna razón no estás conforme con un
                  producto, puedes solicitar una devolución bajo las siguientes
                  condiciones:
                </p>
                <ul class="text-light-gray small">
                  <li class="pb-1">
                    Tienes 14 días desde que recibes el pedidio para solicitar
                    devolución.
                  </li>
                  <li class="pb-1">
                    El producto debe estar sin usar, en su empaque original y
                    con todos los accesorios.
                  </li>
                  <li class="pb-1">
                    No se aceptan devoluciones de productos abiertos, software,
                    licencias digitales o artículos personalizados.
                  </li>
                  <li class="pb-1">
                    Para iniciar el proceso, escríbenos a
                    {{ email }} con tu número de pedido y el motivo.
                  </li>
                  <li class="pb-1">
                    Si el producto está en buen estado, te haremos el reembolso
                    una vez lo recibamos.
                  </li>
                  <li class="pb-1">
                    Los gastos de envío de la devolución corren por cuenta del
                    cliente, salvo que el producto esté defectuoso o haya habido
                    un error en el envío.
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <hr class="m-0" />
        <div class="accordion" id="accordionEnvio">
          <div class="accordion-item bg-app-secondary border-0">
            <h2 class="accordion-header" id="headingTwo">
              <button
                class="accordion-button collapsed bg-app-secondary px-0 py-3"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseEnvio"
              >
                <p class="text-dark-gray small mb-0">Opciones de envío</p>
              </button>
            </h2>
            <div
              id="collapseEnvio"
              class="accordion-collapse collapse"
              data-bs-parent="#accordionEnvio"
            >
              <div class="accordion-body px-3 py-0">
                <p class="text-light-gray small">
                  Los envíos de nuestros productos son gestionados por DAC
                  (Distribuidora de Artículos de Consumo), una empresa de
                  mensajería confiable y eficiente. Recibirás un número de
                  seguimiento para que puedas rastrear tu pedido en todo
                  momento.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
