@use '../../../styles/variables' as theme;

hr {
    opacity: 0.5;
}

.card-wrapper {
    flex: 0 0 auto;
    width: auto;
}
  
@media (max-width: 575.98px) {
    .card-wrapper {
        width: 50%;
        padding: 0;
    }
  
    .card-wrapper .card {
        margin: 0 auto;
    }
}

.card {
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card:hover {
    transform: translateY(-4px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    transition: all 0.3 ease;
}

select:hover {
    cursor: pointer;
}

form-check {
    width: 16px;
    max-width: 16px;
}

ngx-slider .ngx-slider {
    height: 20px; /* reduce la altura total */
  }
  
  ngx-slider .ngx-slider-bar {
    height: 4px; /* reduce el grosor del "track" */
  }
  
  ngx-slider .ngx-slider-pointer {
    width: 12px;
    height: 12px;
    top: -4px; /* ajusta la posición vertical del "thumb" */
  }
  
  ngx-slider .ngx-slider-bubble {
    font-size: 0.7rem; /* cambia el tamaño del texto del valor */
    padding: 2px 4px;
  }
  
  ngx-slider .ngx-slider-selection {
    height: 4px; /* misma altura que la barra base */
  }
  